header{
    padding-top: 7rem;
    overflow: hidden;
    
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.card{
position: relative;
width: 300px;
height: 400px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    transition: .9s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 20px #000;
    background: linear-gradient(0deg,#2c2c6c , white 30%,  #4db5ff);
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card .front img{
    
    width: 65%;
    height: 100%;
    object-fit: cover;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #2c2c6c;
    padding: 15px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}




/*	===================== CTA ====================*/

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    
}




/*	===================== SOCIALS ====================*/


.header__socials { 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after { 
    
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*	===================== ME ====================*/


.me { 
    display: flex;
    align-items: center;
    gap: 0.8rem;
    justify-content: center;
    bottom: 3rem;
    margin-top: 30px;
    border-radius: 22rem 22rem 0 0;
   
    
}

.comic {
    height: 400px;
    width: 170px;
    border-radius: 22rem 22rem 0 0;
    perspective: 40rem;
}

.comic:hover{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    
}


/*	===================== SCROLL DOWN ====================*/


.scroll__down { 
    position: absolute;
    right: -2.3rem;
    bottom: 7rem;
   transform: rotate(90deg);
   font-weight: 300;
   font-size: 0.9rem;
    
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ========================= */
@media screen and (max-width: 1024px){
    .header{
        height: 68vh;
    }
    
    
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ========================= */
@media screen and (max-width: 600px){
    .header{
        height: 100vh;
    }
    .header__socials, .scroll__down{
        display:none;
    }
}